{% if click -%}
import click

@click.command()
@click.option(
    "-d",
    "--dryrun",
    is_flag=True,
    help="dry run mode, only show the rendered command",
)
def main(dryrun):
    "{{ description }}"

    if dryrun:
        print("dryrun")
    else:
        print("not dryrun")
{% else -%}
def main():
    print("Hello from {{ hyphenated }}!")
{% endif %}

if __name__ == "__main__":
    main()
