[project]
name = "{{ hyphenated }}"
description = "{{ description or "" }}"
version = "0.1.0"
requires-python = ">={{ python_version }}"
dependencies = [{% if click %}"click"{% endif %}]

[project.scripts]
{{ hyphenated }}= "main:main"
